<!DOCTYPE html>
<html>
  <head>
	    <title><%= title %></title>
    	<% include head_dependences.ejs -%>
  </head>
  <body>
  <div id="content">
  	<header class="navbar navbar-dark bg-dark">
		    <h1><span style="color:white;"><%= title %></span></h1>
		    <p><%= message -%></p>
  	</header>
		<hr>
	
		<form id="formulario" action="/registrando" method="POST" class="formulario_cadastro" onSubmit="return validarCampos();">
		  <div class="row">
		    <div class="col">
					<input type="text" class="form-control" name="nome" placeholder=" Nome" required="É necessario preencher o nome!" title="Nome">
		    </div>
		    <div class="col">
					<input type="text" class="form-control" name="email"  placeholder="Email" required="Insira um EMAIL!" title="Email ex: email@exemplo.com">
		    </div>
		    <div class="col">
					<input id="usuario_senha" type="text" class="form-control" name="senha"  placeholder="************" required="Preencha a senha!" title="Senha">
		    </div>
		    <div class="col">
					<input id="usuario_ConfSenha" type="text" name="senhaConfirm" class="form-control"  placeholder="************" required="É necessario confirmar senha!" title="Confirmar senha">
		    </div>
		  <button type="submit" class="btn btn-primary">Cadastrar</button>
		  </div>
		</form><br><br>


<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Email</th>
      <th scope="col">Senha</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
		<% for(i=0; i < dados.length; i++) { %>
    <tr>
      <th scope="row"><%= dados[i].idusuario %></th>
				<td><%= dados[i].nome %></td>
				<td><%= dados[i].email %></td>
				<td><%= dados[i].senha %></td>
				<td><a href="/usuario/ <%= dados[i].idusuario %>" class="btn btn-info">ALTERAR</a></td>
				<td><a href="/apagar/usuario <%= dados[i].idusuario %>" class="btn btn-danger" >EXCLUIR</a></td>
    </tr>
		<% } %>
  </tbody>
</table>

<hr>

<div id="chartcontainer">

	This is just a replacement in case Javascript is not available or used for SEO purposes

</div>

<hr>

<script type="text/javascript">
	var validarCampos = function(){
		if(document.getElementById('usuario_ConfSenha') != document.getElementById('usuario_ConfSenha')){
			alert('Senhas diferentes!');
			document.getElementById('usuario_ConfSenha').focus();
			return false;
		}
		if(document.getElementById('usuario_email').indexOf('@') == -1){
			alert('Insira um email valido!');
			return false;
		}
		return true;
	}


	var myData = new Array([10, 20], [15, 10], [20, 30], [25, 10], [30, 5]);
	var myChart = new JSChart('chartcontainer', 'line');
	myChart.setDataArray(myData);
	myChart.draw();

</script>


		<% include footer.ejs %>
  </div>	
  </body>
<% include js_dependences.ejs -%>

</html>
