
<% include head_dependences.ejs -%>

<h1>Altere o usuario!</h1>

<div id="resposta">

		<form id="formulario" action="/alterado<%= usuario[0].idusuario %>" method="POST" class="formulario_update">
		  <div class="row">
		    <div class="col">
					<input type="text" class="form-control" name="nome" value="<%= usuario[0].nome %>" required="É necessario preencher o nome!" title="Nome">
		    </div>
		    <div class="col">
					<input type="text" class="form-control" name="email" value="<%= usuario[0].email %>" required="Insira um EMAIL!" title="Email ex: email@exemplo.com">
		    </div>
		    <div class="col">
					<input id="usuario_senha" type="text" class="form-control" name="senha" value="<%= usuario[0].senha %>" required="Preencha a senha!" title="Senha">
		    </div>
		    <div class="col">
					<input id="usuario_ConfSenha" type="text" name="senhaConfirm" class="form-control"  placeholder="**************" required="É necessario confirmar senha!" title="Confirmar senha">
		    </div>
		  <button type="submit" class="btn btn-primary">Atualizar</button>
		  </div>
		</form><br><br>


<hr>
	<a href="/">Voltar</a>

</div>


<% include footer.ejs -%>
<% include js_dependences.ejs -%>

<!-- 
		<form action="/alterado<%= usuario[0].idusuario %>" method="POST" name="update">

			nome: 
			<input type="text" name="nome" value="<%= usuario[0].nome %>">
			email:
			<input type="text" name="email" validate="email" value="<%= usuario[0].email %>" validated="email">
			senha: 
			<input type="text" name="senha"  value="<%= usuario[0].senha %>">
			confirme a senha: <input type="text" name="senhaConfirm" >

			<input type="submit" name="Update_dados" value="alterar">
		</form><br> -->